__pycache__/
.mypy_cache/
.pytest_cache/
.DS_Store
.vscode/
.idea/
.venv/
.ruff_cache/
.coverage
coverage.xml
diagrams/output/
archive/diagrams/output/
*.pyc
Blender/
*.blend
.obsidian
node_modules
pictures
